# 1. Import the NUMPY package under the name np.

In [1]:
import numpy as np

# 2. Print the NUMPY version and the configuration.

In [2]:
print(np.__version__)

1.24.3

In [3]:
print(np.show_config())

blas_armpl_info:
  NOT AVAILABLE
blas_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/ccior/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/ccior/anaconda3\\Library\\include']
blas_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/ccior/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/ccior/anaconda3\\Library\\include']
lapack_armpl_info:
  NOT AVAILABLE
lapack_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/ccior/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/ccior/anaconda3\\Library\\include']
lapack_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/ccior/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/ccior/anaconda3\\Library\\include']
Supported SIMD extensions in this NumPy install:
    baseline = SSE,SSE2,SSE3
    found = SSSE3,SSE41,POPCNT,SSE42,AVX,F16C,FMA3,AVX2
    not found = AVX512F,AVX512CD,AVX512_SKX,AVX512_CLX,AVX512_CNL,AVX512_ICL
None

# 3. Generate a 2x3x5 3-dimensional array with random values. Assign the array to variable "a"
#Challenge: there are at least three easy ways that use numpy to generate random arrays. How many ways can you find?

In [4]:
a = np.random.random((2, 3, 5))   # 10 filas, 4 columnas

a

array([[[0.49827241, 0.32238814, 0.75930695, 0.68703055, 0.09932475],
        [0.62579061, 0.62272154, 0.58568253, 0.31421237, 0.81423668],
        [0.93734256, 0.07662365, 0.89828113, 0.77762312, 0.77442105]],

       [[0.04830995, 0.64976606, 0.01764831, 0.53394532, 0.13922898],
        [0.08108785, 0.29372786, 0.88452621, 0.81607345, 0.74759699],
        [0.71467044, 0.91970092, 0.67252713, 0.87118663, 0.03578017]]])

# 4. Print a.

In [5]:
print(a)

[[[0.49827241 0.32238814 0.75930695 0.68703055 0.09932475]
  [0.62579061 0.62272154 0.58568253 0.31421237 0.81423668]
  [0.93734256 0.07662365 0.89828113 0.77762312 0.77442105]]

 [[0.04830995 0.64976606 0.01764831 0.53394532 0.13922898]
  [0.08108785 0.29372786 0.88452621 0.81607345 0.74759699]
  [0.71467044 0.91970092 0.67252713 0.87118663 0.03578017]]]

# 5. Create a 5x2x3 3-dimensional array with all values equaling 1.
#Assign the array to variable "b"

In [15]:
b = np.ones((5,2,3))

b

array([[[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]]])

# 6. Print b.

In [16]:
print(b)

[[[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]]

# 7. Do a and b have the same size? How do you prove that in Python code?

In [17]:
def shape_of_you(a,b):
    
    if a.shape == b.shape:
        return True
    else:
        return False

In [18]:
shape_of_you(a,b)

False

# 8. Are you able to add a and b? Why or why not?

In [19]:
c = a + b

c

ValueError: operands could not be broadcast together with shapes (2,3,5) (5,2,3)

In [20]:
#both arrays need to have the same shape

# 9. Transpose b so that it has the same structure of a (i.e. become a 2x3x5 array). Assign the transposed array to varialbe "c".

In [21]:
c = b.transpose((1,2,0))

print(c)

[[[1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]]

 [[1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1.]]]

# 10. Try to add a and c. Now it should work. Assign the sum to varialbe "d". But why does it work now?

In [22]:
d = a + c

print(d)
print(a)

[[[1.49827241 1.32238814 1.75930695 1.68703055 1.09932475]
  [1.62579061 1.62272154 1.58568253 1.31421237 1.81423668]
  [1.93734256 1.07662365 1.89828113 1.77762312 1.77442105]]

 [[1.04830995 1.64976606 1.01764831 1.53394532 1.13922898]
  [1.08108785 1.29372786 1.88452621 1.81607345 1.74759699]
  [1.71467044 1.91970092 1.67252713 1.87118663 1.03578017]]]
[[[0.49827241 0.32238814 0.75930695 0.68703055 0.09932475]
  [0.62579061 0.62272154 0.58568253 0.31421237 0.81423668]
  [0.93734256 0.07662365 0.89828113 0.77762312 0.77442105]]

 [[0.04830995 0.64976606 0.01764831 0.53394532 0.13922898]
  [0.08108785 0.29372786 0.88452621 0.81607345 0.74759699]
  [0.71467044 0.91970092 0.67252713 0.87118663 0.03578017]]]

In [23]:
#it works because a and c have the same shape

# 11. Print a and d. Notice the difference and relation of the two array in terms of the values? Explain.

In [24]:
print(a)

[[[0.49827241 0.32238814 0.75930695 0.68703055 0.09932475]
  [0.62579061 0.62272154 0.58568253 0.31421237 0.81423668]
  [0.93734256 0.07662365 0.89828113 0.77762312 0.77442105]]

 [[0.04830995 0.64976606 0.01764831 0.53394532 0.13922898]
  [0.08108785 0.29372786 0.88452621 0.81607345 0.74759699]
  [0.71467044 0.91970092 0.67252713 0.87118663 0.03578017]]]

In [25]:
print(d)

[[[1.49827241 1.32238814 1.75930695 1.68703055 1.09932475]
  [1.62579061 1.62272154 1.58568253 1.31421237 1.81423668]
  [1.93734256 1.07662365 1.89828113 1.77762312 1.77442105]]

 [[1.04830995 1.64976606 1.01764831 1.53394532 1.13922898]
  [1.08108785 1.29372786 1.88452621 1.81607345 1.74759699]
  [1.71467044 1.91970092 1.67252713 1.87118663 1.03578017]]]

La diferencia es que en la matriz a, a todos los elementos se le suma 1

# 12. Multiply a and c. Assign the result to e.

In [26]:
e = a * c
print(e)

[[[0.49827241 0.32238814 0.75930695 0.68703055 0.09932475]
  [0.62579061 0.62272154 0.58568253 0.31421237 0.81423668]
  [0.93734256 0.07662365 0.89828113 0.77762312 0.77442105]]

 [[0.04830995 0.64976606 0.01764831 0.53394532 0.13922898]
  [0.08108785 0.29372786 0.88452621 0.81607345 0.74759699]
  [0.71467044 0.91970092 0.67252713 0.87118663 0.03578017]]]

# 13. Does e equal to a? Why or why not?

In [27]:
np.array_equal(e,a)

True

# 14. Identify the max, min, and mean values in d. Assign those values to variables "d_max", "d_min", and "d_mean"

In [ ]:
d_max = d.max()
d_min = d.min()
d_mean = d.mean()

# 15. Now we want to label the values in d. First create an empty array "f" with the same shape (i.e. 2x3x5) as d using `np.empty`.import numpy as np

In [ ]:
import numpy as np

f = np.empty((2, 3, 5))
print(f)

# 16. Populate the values in f. For each value in d, if it's larger than d_min but smaller than d_mean, assign 25 to the corresponding value in f.

If a value in d is larger than d_mean but smaller than d_max, assign 75 to the corresponding value in f.

If a value equals to d_mean, assign 50 to the corresponding value in f.

Assign 0 to the corresponding value(s) in f for d_min in d.

Assign 100 to the corresponding value(s) in f for d_max in d.

In the end, f should have only the following values: 0, 25, 50, 75, and 100.
    
Note: you don't have to use Numpy in this question.

las siguientes líneas de código están con numpy :)

In [ ]:
print(f)

In [ ]:
#For each value in d, if it's larger than d_min but smaller than d_mean, assign 25 to the corresponding value in f.

f = np.where((d > d_min) & (d < d_mean), 25, f)
print(f)

In [ ]:
#If a value in d is larger than d_mean but smaller than d_max, assign 75 to the corresponding value in f

f = np.where((d > d_mean) & (d < d_max), 75, f)
print(f)

In [ ]:
#If a value equals to d_mean, assign 50 to the corresponding value in f.

f = np.where(d == d_mean, 50, f)
print(f)

In [ ]:
#Assign 0 to the corresponding value(s) in f for d_min in d

f = np.where(d == d_min, 0, f)
print(f)

In [ ]:
#Assign 100 to the corresponding value(s) in f for d_max in d.

f = np.where(d == d_max, 100, f)
print(f)

# 17. Print d and f. Do you have your expected f?

For instance, if your d is:
array([[[1.85836099, 1.67064465, 1.62576044, 1.40243961, 1.88454931],
        [1.75354326, 1.69403643, 1.36729252, 1.61415071, 1.12104981],
        [1.72201435, 1.1862918 , 1.87078449, 1.7726778 , 1.88180042]],

       [[1.44747908, 1.31673383, 1.02000951, 1.52218947, 1.97066381],
        [1.79129243, 1.74983003, 1.96028037, 1.85166831, 1.65450881],
        [1.18068344, 1.9587381 , 1.00656599, 1.93402165, 1.73514584]]])

Your f should be:
array([[[ 75.,  75.,  75.,  25.,  75.],
        [ 75.,  75.,  25.,  25.,  25.],
        [ 75.,  25.,  75.,  75.,  75.]],

       [[ 25.,  25.,  25.,  25., 100.],
        [ 75.,  75.,  75.,  75.,  75.],
        [ 25.,  75.,   0.,  75.,  75.]]])

In [ ]:
print(d)

In [ ]:
print(f)

# 18. Bonus question: instead of using numbers (i.e. 0, 25, 50, 75, and 100), how to use string values 
("A", "B", "C", "D", and "E") to label the array elements? You are expecting the result to be:
array([[[ 'D',  'D',  'D',  'B',  'D'],
        [ 'D',  'D',  'B',  'B',  'B'],
        [ 'D',  'B',  'D',  'D',  'D']],

       [[ 'B',  'B',  'B',  'B',  'E'],
        [ 'D',  'D',  'D',  'D',  'D'],
        [ 'B',  'D',   'A',  'D', 'D']]])
Again, you don't need Numpy in this question.