In [3]:
%pip install numpy

Requirement already satisfied: numpy in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (1.26.1)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#1. Import the NUMPY package under the name np.

In [7]:
import numpy as np

In [ ]:
#2. Print the NUMPY version and the configuration.

In [8]:
print(np.__version__)

1.26.1

In [ ]:
#3. Generate a 2x3x5 3-dimensional array with random values. Assign the array to variable "a"
# Challenge: there are at least three easy ways that use numpy to generate random arrays. How many ways can you find?

In [18]:
#first way 
a = np.random.random((2,3,5))
a

array([[[0.26202108, 0.51333242, 0.35043848, 0.57512045, 0.17677901],
        [0.59211795, 0.76687989, 0.89038244, 0.50997096, 0.4536786 ],
        [0.67154241, 0.10492427, 0.18018276, 0.9074021 , 0.4504193 ]],

       [[0.48828904, 0.65988071, 0.65940621, 0.72422453, 0.37983761],
        [0.72511214, 0.33770777, 0.41319429, 0.23194726, 0.61372475],
        [0.140858  , 0.85920221, 0.97934657, 0.51016935, 0.08518013]]])

In [16]:
#second way, e.g., int numbers between 0 and 1
a1 = np.random.randint(0,11,size=(2,3,5))
a1

array([[[ 6,  7,  3,  9,  7],
        [ 7,  1, 10,  2, 10],
        [ 4,  2,  2,  6,  2]],

       [[ 9,  5,  1,  9,  9],
        [ 5,  6,  7,  5, 10],
        [ 3,  8,  8,  3,  2]]])

In [17]:
#third way 
a2 = np.random.random_sample((2,3,5))
a2

array([[[0.41667377, 0.98127658, 0.63058856, 0.41333263, 0.74276289],
        [0.52324815, 0.77604752, 0.26762872, 0.63745878, 0.66892191],
        [0.48359978, 0.25804244, 0.19295075, 0.17883283, 0.31293255]],

       [[0.65152098, 0.10655691, 0.02681026, 0.81700675, 0.24536144],
        [0.06575121, 0.74189741, 0.94361131, 0.5246722 , 0.33381532],
        [0.11721415, 0.74070346, 0.90346781, 0.11979769, 0.03348695]]])

In [10]:
#4. Print a.

In [20]:
print(a)

[[[0.26202108 0.51333242 0.35043848 0.57512045 0.17677901]
  [0.59211795 0.76687989 0.89038244 0.50997096 0.4536786 ]
  [0.67154241 0.10492427 0.18018276 0.9074021  0.4504193 ]]

 [[0.48828904 0.65988071 0.65940621 0.72422453 0.37983761]
  [0.72511214 0.33770777 0.41319429 0.23194726 0.61372475]
  [0.140858   0.85920221 0.97934657 0.51016935 0.08518013]]]

In [21]:
#5. Create a 5x2x3 3-dimensional array with all values equaling 1.
#Assign the array to variable "b"

In [69]:
b = np.ones((5,2,3))

In [70]:
#6. Print b.

In [71]:
print(b)

[[[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]]

In [72]:
#7. Do a and b have the same size? How do you prove that in Python code?

In [73]:
#yes, both have a size of 40
a.size == b.size

True

In [74]:
#8. Are you able to add a and b? Why or why not?

In [75]:
#no, porque para sumar las dimensiones tendrÃ­an que ser las mismas. Se generaria el error abajo.  

a.shape == b.shape

False

In [76]:
sumadeab = a + b

ValueError: operands could not be broadcast together with shapes (2,3,5) (5,2,3)

In [77]:
# 9. Transpose b so that it has the same structure of a (i.e. become a 2x3x5 array). Assign the transposed array to varialbe "c".

In [93]:
c = b.transpose((1,2,0))

c.shape

(2, 3, 5)

In [94]:
#10. Try to add a and c. Now it should work. Assign the sum to varialbe "d". But why does it work now?

In [95]:
d = a + c
d

array([[[1.26202108, 1.51333242, 1.35043848, 1.57512045, 1.17677901],
        [1.59211795, 1.76687989, 1.89038244, 1.50997096, 1.4536786 ],
        [1.67154241, 1.10492427, 1.18018276, 1.9074021 , 1.4504193 ]],

       [[1.48828904, 1.65988071, 1.65940621, 1.72422453, 1.37983761],
        [1.72511214, 1.33770777, 1.41319429, 1.23194726, 1.61372475],
        [1.140858  , 1.85920221, 1.97934657, 1.51016935, 1.08518013]]])

In [96]:
#it works because they have the same dimensions 

a.shape == d.shape

True

In [97]:
#11. Print a and d. Notice the difference and relation of the two array in terms of the values? Explain.

In [98]:
print(a)

[[[0.26202108 0.51333242 0.35043848 0.57512045 0.17677901]
  [0.59211795 0.76687989 0.89038244 0.50997096 0.4536786 ]
  [0.67154241 0.10492427 0.18018276 0.9074021  0.4504193 ]]

 [[0.48828904 0.65988071 0.65940621 0.72422453 0.37983761]
  [0.72511214 0.33770777 0.41319429 0.23194726 0.61372475]
  [0.140858   0.85920221 0.97934657 0.51016935 0.08518013]]]

In [99]:
print(d)

[[[1.26202108 1.51333242 1.35043848 1.57512045 1.17677901]
  [1.59211795 1.76687989 1.89038244 1.50997096 1.4536786 ]
  [1.67154241 1.10492427 1.18018276 1.9074021  1.4504193 ]]

 [[1.48828904 1.65988071 1.65940621 1.72422453 1.37983761]
  [1.72511214 1.33770777 1.41319429 1.23194726 1.61372475]
  [1.140858   1.85920221 1.97934657 1.51016935 1.08518013]]]

In [100]:
#para cada valor i,j de A hemos sumado 1

In [101]:
#12. Multiply a and c. Assign the result to e.

In [102]:
a.shape

(2, 3, 5)

In [103]:
c.shape

(2, 3, 5)

In [104]:
###check this 
#producto elemento a elemento (elemento wise)
e = np.multiply(a,c)
e

array([[[0.26202108, 0.51333242, 0.35043848, 0.57512045, 0.17677901],
        [0.59211795, 0.76687989, 0.89038244, 0.50997096, 0.4536786 ],
        [0.67154241, 0.10492427, 0.18018276, 0.9074021 , 0.4504193 ]],

       [[0.48828904, 0.65988071, 0.65940621, 0.72422453, 0.37983761],
        [0.72511214, 0.33770777, 0.41319429, 0.23194726, 0.61372475],
        [0.140858  , 0.85920221, 0.97934657, 0.51016935, 0.08518013]]])

In [ ]:
#13. Does e equal to a? Why or why not?

In [90]:
print(a)

[[[0.26202108 0.51333242 0.35043848 0.57512045 0.17677901]
  [0.59211795 0.76687989 0.89038244 0.50997096 0.4536786 ]
  [0.67154241 0.10492427 0.18018276 0.9074021  0.4504193 ]]

 [[0.48828904 0.65988071 0.65940621 0.72422453 0.37983761]
  [0.72511214 0.33770777 0.41319429 0.23194726 0.61372475]
  [0.140858   0.85920221 0.97934657 0.51016935 0.08518013]]]

In [105]:
print(e)

[[[0.26202108 0.51333242 0.35043848 0.57512045 0.17677901]
  [0.59211795 0.76687989 0.89038244 0.50997096 0.4536786 ]
  [0.67154241 0.10492427 0.18018276 0.9074021  0.4504193 ]]

 [[0.48828904 0.65988071 0.65940621 0.72422453 0.37983761]
  [0.72511214 0.33770777 0.41319429 0.23194726 0.61372475]
  [0.140858   0.85920221 0.97934657 0.51016935 0.08518013]]]

In [108]:
###check this 
#yes, they have the same shape and the same elements 

result = np.array_equal(a,e)
result

True

In [109]:
#14. Identify the max, min, and mean values in d. Assign those values to variables "d_max", "d_min", and "d_mean"

In [114]:
d_max = d.max()
d_max

1.9793465710538176

In [116]:
d_min = d.min()
d_min

1.0851801336808102

In [117]:
d_mean = d.mean()
d_mean

1.50710909000244

In [ ]:
#15. Now we want to label the values in d. First create an empty array "f" with the same shape (i.e. 2x3x5) as d using `np.empty`.

In [121]:
#help(np.empty)
d.shape

(2, 3, 5)

In [123]:
f = np.empty((2,3,5))
f

array([[[0.26202108, 0.51333242, 0.35043848, 0.57512045, 0.17677901],
        [0.59211795, 0.76687989, 0.89038244, 0.50997096, 0.4536786 ],
        [0.67154241, 0.10492427, 0.18018276, 0.9074021 , 0.4504193 ]],

       [[0.48828904, 0.65988071, 0.65940621, 0.72422453, 0.37983761],
        [0.72511214, 0.33770777, 0.41319429, 0.23194726, 0.61372475],
        [0.140858  , 0.85920221, 0.97934657, 0.51016935, 0.08518013]]])

In [ ]:
"""
#16. Populate the values in f. For each value in d, if it's larger than d_min but smaller than d_mean, assign 25 to the corresponding value in f.
If a value in d is larger than d_mean but smaller than d_max, assign 75 to the corresponding value in f.
If a value equals to d_mean, assign 50 to the corresponding value in f.
Assign 0 to the corresponding value(s) in f for d_min in d.
Assign 100 to the corresponding value(s) in f for d_max in d.
In the end, f should have only the following values: 0, 25, 50, 75, and 100.
Note: you don't have to use Numpy in this question.
"""

In [130]:
print(d)

[[[1.26202108 1.51333242 1.35043848 1.57512045 1.17677901]
  [1.59211795 1.76687989 1.89038244 1.50997096 1.4536786 ]
  [1.67154241 1.10492427 1.18018276 1.9074021  1.4504193 ]]

 [[1.48828904 1.65988071 1.65940621 1.72422453 1.37983761]
  [1.72511214 1.33770777 1.41319429 1.23194726 1.61372475]
  [1.140858   1.85920221 1.97934657 1.51016935 1.08518013]]]

In [131]:
range(len(d))

range(0, 2)

In [132]:
range(len(d[0]))

range(0, 3)

In [133]:
range(len(d[0][0]))

range(0, 5)

In [129]:
for capa in range(len(d)):
    for fila in range(len(d[0])):
        for columna in range(len(d[0][0])):
            if d[capa,fila,columna] == d_min: 
                f[capa,fila,columna] = 0
            elif d[capa,fila,columna] == d_mean:
                f[capa,fila,columna] = 50
            elif d[capa,fila,columna] == d_max:
                f[capa,fila,columna] = 75
            elif d[capa,fila,columna] > d_min and d[capa,fila,columna] < d_mean:
                f[capa,fila,columna] = 25
            elif d[capa,fila,columna] > d_mean and d[capa,fila,columna] < d_max:
                f[capa,fila,columna] = 75
            else:
                pass 

f

array([[[25., 75., 25., 75., 25.],
        [75., 75., 75., 75., 25.],
        [75., 25., 25., 75., 25.]],

       [[25., 75., 75., 75., 25.],
        [75., 25., 25., 25., 75.],
        [25., 75., 75., 75.,  0.]]])

In [126]:
d[0,0,0]

1.2620210761663357

In [ ]:
"""
#17. Print d and f. Do you have your expected f?
For instance, if your d is:
array([[[1.85836099, 1.67064465, 1.62576044, 1.40243961, 1.88454931],
        [1.75354326, 1.69403643, 1.36729252, 1.61415071, 1.12104981],
        [1.72201435, 1.1862918 , 1.87078449, 1.7726778 , 1.88180042]],

       [[1.44747908, 1.31673383, 1.02000951, 1.52218947, 1.97066381],
        [1.79129243, 1.74983003, 1.96028037, 1.85166831, 1.65450881],
        [1.18068344, 1.9587381 , 1.00656599, 1.93402165, 1.73514584]]])

Your f should be:
array([[[ 75.,  75.,  75.,  25.,  75.],
        [ 75.,  75.,  25.,  25.,  25.],
        [ 75.,  25.,  75.,  75.,  75.]],

       [[ 25.,  25.,  25.,  25., 100.],
        [ 75.,  75.,  75.,  75.,  75.],
        [ 25.,  75.,   0.,  75.,  75.]]])
"""

In [134]:
print(d)

[[[1.26202108 1.51333242 1.35043848 1.57512045 1.17677901]
  [1.59211795 1.76687989 1.89038244 1.50997096 1.4536786 ]
  [1.67154241 1.10492427 1.18018276 1.9074021  1.4504193 ]]

 [[1.48828904 1.65988071 1.65940621 1.72422453 1.37983761]
  [1.72511214 1.33770777 1.41319429 1.23194726 1.61372475]
  [1.140858   1.85920221 1.97934657 1.51016935 1.08518013]]]

In [136]:
print(f)

[[[25. 75. 25. 75. 25.]
  [75. 75. 75. 75. 25.]
  [75. 25. 25. 75. 25.]]

 [[25. 75. 75. 75. 25.]
  [75. 25. 25. 25. 75.]
  [25. 75. 75. 75.  0.]]]

In [138]:
"""
#18. Bonus question: instead of using numbers (i.e. 0, 25, 50, 75, and 100), how to use string values 
("A", "B", "C", "D", and "E") to label the array elements? You are expecting the result to be:
array([[[ 'D',  'D',  'D',  'B',  'D'],
        [ 'D',  'D',  'B',  'B',  'B'],
        [ 'D',  'B',  'D',  'D',  'D']],

       [[ 'B',  'B',  'B',  'B',  'E'],
        [ 'D',  'D',  'D',  'D',  'D'],
        [ 'B',  'D',   'A',  'D', 'D']]])
Again, you don't need Numpy in this question.
"""

'\n#18. Bonus question: instead of using numbers (i.e. 0, 25, 50, 75, and 100), how to use string values \n("A", "B", "C", "D", and "E") to label the array elements? You are expecting the result to be:\narray([[[ \'D\',  \'D\',  \'D\',  \'B\',  \'D\'],\n        [ \'D\',  \'D\',  \'B\',  \'B\',  \'B\'],\n        [ \'D\',  \'B\',  \'D\',  \'D\',  \'D\']],\n\n       [[ \'B\',  \'B\',  \'B\',  \'B\',  \'E\'],\n        [ \'D\',  \'D\',  \'D\',  \'D\',  \'D\'],\n        [ \'B\',  \'D\',   \'A\',  \'D\', \'D\']]])\nAgain, you don\'t need Numpy in this question.\n'

In [ ]:
#if extra time